// fonts
@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Quattrocento:wght@400;700&display=swap");
// fonts end

// def code
body {
  padding: 0;
  margin: 0;
  font-family: "Mulish", sans-serif;

  background-image: url(../img/page-background.png);
  background-position: left top;
  background-color: #eeece8;
}
h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}
input:focus {
  outline: none;
}
.wrapper {
  max-width: 1340px;
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
}
img {
  max-width: 100%;
}
a {
  transition: all ease 0.25s;
  &:hover {
    opacity: 0.7;
  }
}
// def code end

nav {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 99999;
  .wrapper {
    position: relative;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .dropdown:hover {
    .insidenav {
      visibility: visible;
      opacity: 1;
    }
  }
  .dropdown {
    position: relative;
    padding-bottom: 20px;

    .insidenav {
      position: absolute;
      left: 0;
      top: 38px;
      padding: 0;
      background-color: #fff;
      min-width: 219px;
      border-radius: 10px;
      padding: 17px 0px;
      visibility: hidden;
      opacity: 0;
      transition: all ease 0.25s;
      box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.1);
      -webkit-box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.1);
      -moz-box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.1);
      ul {
        position: relative;
        list-style-type: none;
        padding: 0;
        li:last-child {
          margin-bottom: 0;
        }
        li {
          margin: 0;
          margin-bottom: 18px;
          a {
            color: #000;
            padding: 0 10px 0 15px;
            display: block;
            width: 100%;
            letter-spacing: -0.1px;
          }
        }
      }
    }
  }
  .leftul {
    display: flex;
    position: absolute;
    top: 28px;
    left: 87px;
    padding: 0;
    margin: 0;
    list-style-type: none;
    li {
      margin-right: 45px;
    }
    a {
      color: #fff;
      text-decoration: unset;
      font-family: Mulish;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: 18px; /* 112.5% */
      letter-spacing: 0.2px;
    }
  }
  .logo {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 20px;
  }
  .logo_black {
    display: none;
  }
  .rightul {
    display: flex;
    position: absolute;
    right: 15px;
    top: 26px;
    padding: 0;
    margin: 0;
    list-style-type: none;
    // li:first-child {
    //   margin-right: 77px;
    //   a {
    //     padding-top: 2px;
    //     display: inline-block;
    //     border-bottom: 1px solid #fff;
    //     padding-bottom: 9px;
    //   }
    // }
    li {
      margin-left: 27px;
      a {
        color: #fff;
        font-family: Mulish;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-decoration: unset;
      }
      .beg {
        position: relative;
        .redcircle {
          position: absolute;
          background-color: #b53030;
          width: 14px;
          height: 14px;
          border-radius: 100%;
          bottom: 4px;
          right: -2px;

          display: flex;
          align-items: center;
          justify-content: center;

          color: #fff;
          font-family: Mulish;
          font-size: 10px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
      }
    }
  }
  .extendedNav.extendedNav_open {
    left: 0;
  }
  .extendedNav {
    position: fixed;
    left: -100%;
    top: 0;
    bottom: 0;
    z-index: 99999;
    background-color: #fff;
    width: calc(50% - 225px);
    display: flex;
    justify-content: end;
    overflow: auto;
    padding-bottom: 50px;

    transition: all ease 0.5s;
    // opacity: 0.7;
    ul li.dropdown_opened a img {
      transform: rotate(90deg);
      margin-bottom: -2px;
    }
    .floatRight {
      width: 100%;
      max-width: 430px;
      padding-top: 27px;
      .dropdown {
        padding-bottom: 0;
      }
      ul {
        padding: 0;
        margin: 0;
        list-style-type: none;
        display: flex;
        flex-direction: column;
        gap: 24px;
        padding-left: 16px;
        padding-top: 70px;
        padding-bottom: 70px;
        li {
          a {
            color: #000;
            font-family: Mulish;
            font-size: 24px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            text-decoration: unset;
            display: inline-flex;
            align-items: center;
            gap: 30px;
            img {
              transition: all ease 0.25s;
            }
          }
          .activea {
            border-bottom: 1px solid #000;
          }
          .fordropdown {
            overflow: hidden;
            max-height: 0;
            transition: all ease 0.25s;
          }
          ul {
            margin-top: 24px;
            padding-top: 0;
            padding-bottom: 0;
            li {
              a {
                color: #000;
                font-family: Mulish;
                font-size: 18px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
              }
            }
          }
        }
      }
    }
  }
  .fill_color {
    fill: #fff;
  }
  .stroke {
    stroke: #fff;
  }
}
nav.navFixed_prepare {
  position: fixed;
  top: -100px;
}
nav.navFixed_prepare2 {
  transition: all ease 0.25s;
}
nav.navFixed {
  background-color: #fff;
  top: 0;
  .leftul a,
  .rightul li:first-child a {
    color: #000;
    border-color: #000;
  }
  .fill_color {
    fill: #000;
  }
  .logo {
    display: none;
  }
  .logo_black {
    display: block;
  }
  .stroke {
    stroke: #000;
  }
}

// hero section
.hero {
  min-height: 682px;
  background: radial-gradient(
    179.81% 112.95% at 90% 100%,
    #ae193f 0%,
    #200049 100%
  );
  padding-top: 220px;
  position: relative;

  .heroimg {
    height: 592px;
    width: 680px;
    object-fit: cover;
    position: absolute;
    bottom: 0;
    right: 0;
    @media (min-width: 1700px) {
      right: calc(50% - 730px);
    }
  }

  .wrapper {
    max-width: 1293px;
  }

  h1 {
    color: #fff;
    font-family: Quattrocento;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 76.8px */
    letter-spacing: 0.2px;
    position: relative;
    span {
      display: inline-block;
      position: relative;
      z-index: 2;
    }
    span:before {
      content: "";
      display: block;
      position: absolute;
      left: 7px;
      right: 0px;
      bottom: 0px;
      height: 5px;
      background-color: #ffd814;
      z-index: -1;
    }
  }

  .multi_s {
    margin-top: 48px;
    display: flex;
    width: 100%;
    button {
      border: 0;
      background-color: #ffd814;
      padding: 15px 30px;

      color: #000;
      text-align: center;
      font-family: Mulish;
      font-size: 18px;
      font-style: normal;
      font-weight: 600;
      line-height: 18px; /* 100% */
      letter-spacing: 0.3px;
      transition: all ease 0.25s;
      &:hover {
        background: #ffa41c;
      }
    }
    .multiSelect {
      position: relative;
      width: 508px;
    }

    .multiSelect *,
    .multiSelect *::before,
    .multiSelect *::after {
      box-sizing: border-box;
    }

    .multiSelect_dropdown {
      font-size: 14px;
      min-height: 50px;
      line-height: 35px;
      box-shadow: none;
      outline: none;
      background-color: #fff;
      font-weight: 400;
      padding: 0.5px 13px;
      margin: 0;
      transition: 0.1s border-color ease-in-out;
      cursor: pointer;

      // display: flex;
      // align-items: center;

      color: #868686;
      font-family: Mulish;
      font-size: 18px;
      font-style: normal;
      font-weight: 600;
      line-height: 18px; /* 100% */
      letter-spacing: 0.3px;
    }

    .multiSelect_dropdown.-hasValue {
      padding: 5px 30px 5px 5px;
      cursor: default;
    }

    .multiSelect_dropdown.-open {
      box-shadow: none;
      outline: none;
      padding: 4.5px 29.5px 4.5px 4.5px;
      border: 1.5px solid #4073ff;
    }

    .multiSelect_arrow::before,
    .multiSelect_arrow::after {
      content: "";
      position: absolute;
      display: block;
      width: 2px;
      height: 8px;
      border-radius: 20px;
      border-bottom: 8px solid #000;
      top: 40%;
      transition: all 0.15s ease;
    }

    .multiSelect_arrow::before {
      right: 26px;
      -webkit-transform: rotate(-50deg);
      transform: rotate(-50deg);
    }

    .multiSelect_arrow::after {
      right: 20px;
      -webkit-transform: rotate(50deg);
      transform: rotate(50deg);
    }

    .multiSelect_list {
      margin: 0;
      margin-bottom: 25px;
      padding: 0;
      list-style: none;
      opacity: 0;
      visibility: hidden;
      position: absolute;
      max-height: calc(10 * 31px);
      top: 28px;
      left: 0;
      z-index: 9999;
      right: 0;
      background: #fff;
      border-radius: 4px;
      overflow-x: hidden;
      overflow-y: auto;
      -webkit-transform-origin: 0 0;
      transform-origin: 0 0;
      transition: opacity 0.1s ease, visibility 0.1s ease,
        -webkit-transform 0.15s cubic-bezier(0.4, 0.6, 0.5, 1.32);
      transition: opacity 0.1s ease, visibility 0.1s ease,
        transform 0.15s cubic-bezier(0.4, 0.6, 0.5, 1.32);
      transition: opacity 0.1s ease, visibility 0.1s ease,
        transform 0.15s cubic-bezier(0.4, 0.6, 0.5, 1.32),
        -webkit-transform 0.15s cubic-bezier(0.4, 0.6, 0.5, 1.32);
      -webkit-transform: scale(0.8) translate(0, 4px);
      transform: scale(0.8) translate(0, 4px);
      border: 1px solid #d9dbde;
      box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.12);
    }

    .multiSelect_option {
      margin: 0;
      padding: 0;
      opacity: 0;
      -webkit-transform: translate(6px, 0);
      transform: translate(6px, 0);
      transition: all 0.15s ease;
    }

    .multiSelect_option.-selected {
      display: none;
    }

    .multiSelect_option:hover .multiSelect_text {
      color: #fff;
      background: #200049;
    }

    .multiSelect_text {
      cursor: pointer;
      display: block;
      padding: 5px 13px;
      color: #525c67;
      font-size: 14px;
      text-decoration: none;
      outline: none;
      position: relative;
      transition: all 0.15s ease;
    }

    .multiSelect_list.-open {
      opacity: 1;
      visibility: visible;
      -webkit-transform: scale(1) translate(0, 12px);
      transform: scale(1) translate(0, 12px);
      transition: opacity 0.15s ease, visibility 0.15s ease,
        -webkit-transform 0.15s cubic-bezier(0.4, 0.6, 0.5, 1.32);
      transition: opacity 0.15s ease, visibility 0.15s ease,
        transform 0.15s cubic-bezier(0.4, 0.6, 0.5, 1.32);
      transition: opacity 0.15s ease, visibility 0.15s ease,
        transform 0.15s cubic-bezier(0.4, 0.6, 0.5, 1.32),
        -webkit-transform 0.15s cubic-bezier(0.4, 0.6, 0.5, 1.32);
    }

    .multiSelect_list.-open + .multiSelect_arrow::before {
      -webkit-transform: rotate(-130deg);
      transform: rotate(-130deg);
    }

    .multiSelect_list.-open + .multiSelect_arrow::after {
      -webkit-transform: rotate(130deg);
      transform: rotate(130deg);
    }

    .multiSelect_list.-open .multiSelect_option {
      opacity: 1;
      -webkit-transform: translate(0, 0);
      transform: translate(0, 0);
    }

    .multiSelect_list.-open .multiSelect_option:nth-child(1) {
      transition-delay: 10ms;
    }

    .multiSelect_list.-open .multiSelect_option:nth-child(2) {
      transition-delay: 20ms;
    }

    .multiSelect_list.-open .multiSelect_option:nth-child(3) {
      transition-delay: 30ms;
    }

    .multiSelect_list.-open .multiSelect_option:nth-child(4) {
      transition-delay: 40ms;
    }

    .multiSelect_list.-open .multiSelect_option:nth-child(5) {
      transition-delay: 50ms;
    }

    .multiSelect_list.-open .multiSelect_option:nth-child(6) {
      transition-delay: 60ms;
    }

    .multiSelect_list.-open .multiSelect_option:nth-child(7) {
      transition-delay: 70ms;
    }

    .multiSelect_list.-open .multiSelect_option:nth-child(8) {
      transition-delay: 80ms;
    }

    .multiSelect_list.-open .multiSelect_option:nth-child(9) {
      transition-delay: 90ms;
    }

    .multiSelect_list.-open .multiSelect_option:nth-child(10) {
      transition-delay: 100ms;
    }

    .multiSelect_choice {
      background: rgba(77, 132, 254, 0.1);
      color: #444f5b;
      padding: 4px 8px;
      line-height: 17px;
      margin: 5px;
      display: inline-block;
      font-size: 13px;
      border-radius: 30px;
      cursor: pointer;
      font-weight: 500;
    }

    .multiSelect_deselect {
      width: 12px;
      height: 12px;
      display: inline-block;
      stroke: #b2bac3;
      stroke-width: 4px;
      margin-top: -1px;
      margin-left: 2px;
      vertical-align: middle;
    }

    .multiSelect_choice:hover .multiSelect_deselect {
      stroke: #a1a8b1;
    }

    .multiSelect_noselections {
      text-align: center;
      padding: 7px;
      color: #b2bac3;
      font-weight: 450;
      margin: 0;
    }

    .multiSelect_placeholder {
      position: absolute;
      left: 11px;
      font-size: 14px;
      top: 17px;
      padding: 0 4px;
      background-color: #fff;
      pointer-events: none;
      transition: all 0.1s ease;

      color: #868686;
      font-family: Mulish;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 18px; /* 100% */
      letter-spacing: 0.3px;
    }

    .multiSelect_dropdown.-open + .multiSelect_placeholder,
    .multiSelect_dropdown.-open.-hasValue + .multiSelect_placeholder {
      // top: -11px;
      left: 17px;
      color: #4073ff;
      font-size: 13px;
      opacity: 0;
    }

    .multiSelect_dropdown.-hasValue + .multiSelect_placeholder {
      // top: -11px;
      left: 17px;
      color: #6e7277;
      font-size: 13px;
      opacity: 0;
    }
  }
  .popular {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: unset;
    list-style-type: none;
    padding: 0;
    margin: 0;
    max-width: 614px;
    margin-top: 21px;
    li {
      color: #fff;
      font-family: Mulish;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 18px; /* 112.5% */
      letter-spacing: 0.3px;
      a {
        text-decoration: unset;
        padding: 6px 8px;
        border-radius: 5px;
        border: 1px solid #fff;
        display: inline-block;
        color: #fff;
      }
    }
  }
}
// hero section end

// chooseYourTeam\
.chooseYourTeam {
  padding-bottom: 100px;
  .topBullets {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #7c7672;
    padding: 0;
    margin: 0;
    list-style-type: none;
    padding-top: 32px;
    padding-bottom: 31px;
    padding-left: 87px;
    padding-right: 87px;
    margin-bottom: 100px;
    li {
      display: flex;
      align-items: center;
      gap: 16px;
    }
  }
  h2 {
    color: #000;
    text-align: center;
    font-family: Quattrocento;
    font-size: 42px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .yourteamslider {
    margin-top: 49px;
    .slick-arrow {
      transition: all ease 0.25s;
    }
    .slick-arrow:hover {
      opacity: 0.7;
    }
    .slick-prev {
      position: absolute;
      left: -25px;
      top: calc(50% - 25px);
      font-size: 0;
      border: 0;
      background: url(../img/left.png);
      background-size: 100%;
      width: 50px;
      height: 50px;
      z-index: 999;
    }
    .slick-next {
      position: absolute;
      right: -25px;
      top: calc(50% - 25px);
      font-size: 0;
      border: 0;
      background: url(../img/right.png);
      background-size: 100%;
      width: 50px;
      height: 50px;
      z-index: 999;
    }
    .slick-slide {
      margin: 0 8px;
    }
    .slick-list {
      margin: 0 -8px;
    }
    img {
      margin: unset;
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
    .imgPlace {
      position: relative;
      h3 {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 20px 15px 15px 15px;
        color: #fff;
        font-family: Mulish;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        background: linear-gradient(
          180deg,
          rgba(0, 0, 0, 0) 0%,
          rgba(0, 0, 0, 0.7) 100%
        );
      }
    }
  }
}
// chooseYourTeam end

// videoSection
.videoSection {
  padding-top: 100px;
  padding-bottom: 100px;
  .box {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    max-width: 514px;
    padding-top: 14px;
    h3 {
      color: #000;
      font-family: Mulish;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: 100%; /* 20px */
      display: flex;
      align-items: center;
      img {
        display: block;
        margin-right: 13px;
      }
    }
    p {
      color: #000;
      font-family: Mulish;
      font-size: 18px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      margin-top: 8px;
      margin-bottom: 13px;
    }
  }
  .videoPlace {
    position: relative;
    max-width: 721px;
    cursor: pointer;
    .imgvideo {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      object-fit: cover;
      width: 100%;
      height: 100%;
      z-index: 2;
      transition: all ease 0.25s;
    }
    .circle {
      position: absolute;
      left: 0;
      right: 0;
      display: block;
      margin: auto;
      top: 50%;
      transform: translateY(-50%);
      transition: all ease 0.25s;
      z-index: 3;
    }
    video {
      transition: all ease 0.25s;
      opacity: 0;
    }
    &:hover {
      .circle {
        opacity: 0.9;
        transform: translateY(-50%) scale(1.2);
      }
    }
  }
  .videoplace_active {
    video {
      opacity: 1;
    }
    .imgvideo,
    .circle {
      opacity: 0;
      visibility: hidden;
      display: none;
    }
  }
}
// videoSection end

// needTeam
.needTeam {
  padding-top: 100px;
  padding-bottom: 100px;
  h2 {
    color: #000;
    text-align: center;
    font-family: Quattrocento;
    font-size: 42px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
  }
  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 79px;
    gap: 80px 0;
    li {
      max-width: 309px;
      width: 100%;
      img {
        display: block;
        margin: auto;
      }
      h3 {
        color: #000;
        text-align: center;
        font-family: Mulish;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-transform: capitalize;
        margin-top: 10px;
      }
    }
  }
}
// needTeam end

// digitalTech
.digitalTech {
  padding-top: 100px;
  padding-bottom: 96px;
  h2 {
    color: #000;
    text-align: center;
    font-family: Quattrocento;
    font-size: 42px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
  }
  a:hover {
    opacity: 1;
  }

  .portfolioWebsite {
    margin-top: 51px;
    .slick-arrow {
      transition: all ease 0.25s;
    }
    .slick-arrow:hover {
      opacity: 0.7;
    }
    .slick-prev {
      position: absolute;
      left: -25px;
      top: calc(50% - 45px);
      font-size: 0;
      border: 0;
      background: url(../img/left.png);
      background-size: 100%;
      width: 50px;
      height: 50px;
      z-index: 999;
    }
    .slick-next {
      position: absolute;
      right: -25px;
      top: calc(50% - 45px);
      font-size: 0;
      border: 0;
      background: url(../img/right.png);
      background-size: 100%;
      width: 50px;
      height: 50px;
      z-index: 999;
    }
    .slick-slide {
      margin: 0 16px;
    }
    .slick-list {
      margin: 0 -16px;
    }
    .slick-dots {
      list-style-type: none;
      padding: 0;
      margin: 0;
      display: flex;
      align-items: center;
      justify-content: end;
      margin-top: 69px;
      padding-right: 121px;
      li {
        margin-left: 18px;
        button {
          padding: 0;
          margin: 0;
          border: 0;
          font-size: 0;
          height: 2px;
          background-color: #000000;
          opacity: 0.3;
          width: 20px;
          transition: all ease 0.25s;
        }
      }
      .slick-active {
        button {
          width: 50px;
          opacity: 1;
        }
      }
    }
    .box {
      background-color: yellow;
      display: block;
      min-height: 450px;
      position: relative;
      img {
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        top: 50%;
        transform: translateY(-50%);

        border-radius: 12px;
        border: 1px solid #000;
        background: #d5cccc;

        width: 427px;
        height: 238px;
        object-fit: cover;
        transition: all ease 0.7s;
      }
    }
    .box:hover {
      img {
        transform: translateY(-50%) scale(0.8);
      }
      img:nth-child(1) {
        right: 100px;
        top: calc(50% - 30px);
      }
      img:nth-child(2) {
        left: 100px;
        top: calc(50% + 30px);
      }
    }
  }
  .seeMoreBtn {
    position: relative;
    a {
      position: absolute;

      right: -28px;
      top: -40px;
      z-index: 9;

      color: #000;
      text-align: center;
      font-family: Mulish;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: 18px; /* 112.5% */
      letter-spacing: 0.3px;
      text-decoration: unset;

      border-radius: 5px;
      border: 1px solid #000;
      background: #eeece8;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);

      padding: 9px 18px;
      display: inline-block;
      transition: all ease 0.25s;
      &:hover {
        background-color: #000;
        color: #fff;
      }
    }
  }
}
// digitalTech end

// googleRev
.googleRev {
  padding-bottom: 97px;
  .topBullets {
    padding: 0;
    margin: 0;
    margin-bottom: 100px;
    border-top: 1px solid #7c7672;
    border-bottom: 1px solid #7c7672;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 200px;
    list-style-type: none;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    li {
      h3 {
        color: #262626;
        font-family: Quattrocento;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.3px;
      }
      p {
        color: #262626;
        font-family: Mulish;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        margin-top: 5px;
      }
    }
  }

  .googelSlider {
    .top {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 12px;
      margin-bottom: 24px;
    }
    p {
      color: var(--black, #000);
      font-family: Quattrocento;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: 140%; /* 28px */
      max-width: 1145px;
      margin: auto;
      text-align: left;
    }
    h4 {
      color: var(--black, #000);
      font-family: Mulish;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: 150%; /* 30px */
      text-transform: uppercase;
      max-width: 1145px;
      margin: auto;
      margin-top: 16px;
      text-align: left;
    }
    .slick-arrow {
      transition: all ease 0.25s;
    }
    .slick-arrow:hover {
      opacity: 0.7;
    }
    .slick-prev {
      position: absolute;
      left: 0;
      top: calc(50% - 45px);
      font-size: 0;
      border: 0;
      background: url(../img/left.png);
      background-size: 100%;
      width: 50px;
      height: 50px;
      z-index: 999;
    }
    .slick-next {
      position: absolute;
      right: 0;
      top: calc(50% - 45px);
      font-size: 0;
      border: 0;
      background: url(../img/right.png);
      background-size: 100%;
      width: 50px;
      height: 50px;
      z-index: 999;
    }
    .slick-dots {
      list-style-type: none;
      padding: 0;
      margin: 0;
      display: flex;
      align-items: center;
      justify-content: end;
      margin-top: 74px;
      padding-right: 0;
      li {
        margin-left: 18px;
        button {
          padding: 0;
          margin: 0;
          border: 0;
          font-size: 0;
          height: 2px;
          background-color: #000000;
          opacity: 0.3;
          width: 20px;
          transition: all ease 0.25s;
        }
      }
      .slick-active {
        button {
          width: 50px;
          opacity: 1;
        }
      }
    }
  }
}
// googleRev end

// buildWithUs
.buildWithUs {
  background: radial-gradient(
    154.25% 107.72% at 90% 100%,
    #20436c 0%,
    #200049 100%
  );
  padding-top: 100px;
  padding-bottom: 117px;
  position: relative;
  overflow: hidden;
  .unsplash {
    position: absolute;
    // right: calc(50% - 598px);
    bottom: 0;
    right: 0;
  }
  h2 {
    color: #fff;
    font-family: Quattrocento;
    font-size: 42px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 50.4px */
    letter-spacing: 0.2px;
    text-transform: capitalize;
  }
  p {
    color: #fff;
    font-family: Mulish;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 27px */
    margin-top: 24px;
    max-width: 615px;
  }
  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    margin-top: 32px;
    li {
      color: #fff;
      font-family: Mulish;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%; /* 27px */
      display: flex;
      align-items: center;
      margin-bottom: 16px;
      span {
        color: #ffd814;
        font-family: Quattrocento;
        font-size: 32px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%; /* 48px */
        padding-left: 4px;
        margin-right: 17px;
      }
    }
  }
  .startBtn {
    margin-top: 20px;
    margin-top: 39px;
    a {
      color: var(--black, #000);
      text-align: center;
      font-family: Mulish;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: 18px; /* 112.5% */
      letter-spacing: 0.3px;

      border-radius: 30px;
      background: #ffd814;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
      display: inline-block;
      text-decoration: unset;
      padding: 16px 36px;
      transition: all ease 0.25s;
      &:hover {
        background: #ffa41c;
        // color: #FFD814;
      }
    }
  }
}
// buildWithUs end

// faq
.faq {
  padding-top: 100px;
  padding-bottom: 100px;
  h2 {
    color: #000;
    text-align: center;
    font-family: Quattrocento;
    font-size: 42px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .faq_box {
    margin-top: 49px;
  }

  .faq_card.question_opened {
    .question {
      .plus_icon {
        margin-top: -10px;
        transform: rotate(180deg) translateX(-50%);
        margin-right: 12px;
      }
    }
  }
  .faq_card {
    // border: 1px solid #8B93BB;
    // max-width: 1257px;
    margin: auto;
    margin-bottom: 20px;
    border: 1px solid var(--brown, #7c7672);
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -ms-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;

    .answer_inquestion {
      .answer_in {
        ccolor: #000;
        font-family: Mulish;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%; /* 21.6px */
      }
      .plus_icon {
        display: none !important;
      }
    }
    .question {
      color: #000;
      font-family: Mulish;
      font-size: 18px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      padding: 18px 68px;
      cursor: pointer;
      position: relative;
      transition: all ease 0.25s;
      &:hover {
        background-color: #f6f6f7;
      }
      .plus_icon {
        position: absolute;
        right: 28px;
        top: 50%;
        transform: translateY(-50%);
        height: 20px;
        display: flex;
        align-items: center;
        transition: all ease 0.25s;
        .plus_line {
          width: 24px;
          height: 1px;
          background: #fff;
          -webkit-transition: all 0.25s ease;
          -moz-transition: all 0.25s ease;
          -ms-transition: all 0.25s ease;
          -o-transition: all 0.25s ease;
          transition: all 0.25s ease;
        }
        .plus_line:nth-child(2) {
          left: 50%;
          position: absolute;
          top: 50%;
          transform: translate(-50%, -50%) rotate(90deg);
        }
      }
    }
    .answer {
      overflow: hidden;
      max-height: 0;
      -webkit-transition: all 0.25s ease;
      -moz-transition: all 0.25s ease;
      -ms-transition: all 0.25s ease;
      -o-transition: all 0.25s ease;
      transition: all 0.25s ease;
      .inner {
        padding: 7px 62px 16px;
        // padding-top: 0;
        p {
          color: #000;
          font-family: Mulish;
          font-size: 18px;
          font-style: normal;
          font-weight: 400;
          line-height: 120%; /* 21.6px */
          max-width: 748px;
        }
      }
    }
  }
  .stillHaveQuestions {
    text-align: center;
    margin-top: 30px;
    a {
      display: inline-block;
      color: var(--black, #000);
      font-family: Mulish;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-decoration: unset;
      border-bottom: 1px solid #000;
      padding-bottom: 8px;
    }
  }
}
// faq end

// latestNews
.latestNews {
  padding-top: 100px;
  padding-bottom: 120px;
  h2 {
    color: #000;
    text-align: center;
    font-family: Quattrocento;
    font-size: 42px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .boxes {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    .box {
      width: calc(33.33% - 21px);
      .cont {
        max-width: 388px;
        margin: auto;
      }
      h3 {
        color: #000;
        font-family: Mulish;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-top: 26px;
      }
      p {
        color: #000;
        font-family: Mulish;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-top: 10px;
        margin-bottom: 21px;
      }
      .readMore {
        a {
          display: inline-block;
          color: var(--black, #000);
          font-family: Mulish;
          font-size: 18px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          text-decoration: unset;
          border-bottom: 1px solid #000;
          padding-bottom: 8px;
        }
      }
    }
  }
}
// latestNews end

// doMore
.doMore {
  background: radial-gradient(
    179.81% 112.95% at 90% 100%,
    #ae193f 0%,
    #200049 100%
  );
  padding-top: 100px;
  padding-bottom: 150px;
  position: relative;
  .rightimg {
    position: absolute;
    right: 0;
    bottom: 0;
  }
  h2 {
    color: #fff;
    text-align: center;
    font-family: Quattrocento;
    font-size: 42px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 50.4px */
    letter-spacing: 0.2px;
    text-transform: capitalize;
  }
  .startBtn {
    margin-top: 55px;
    text-align: center;
    a {
      color: var(--black, #000);
      text-align: center;
      font-family: Mulish;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: 18px; /* 112.5% */
      letter-spacing: 0.3px;

      border-radius: 30px;
      background: #ffd814;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
      display: inline-block;
      text-decoration: unset;
      padding: 16px 36px;
      transition: all ease 0.25s;
      &:hover {
        background: #ffa41c;
        // color: #FFD814;
      }
    }
  }
}
// doMore end

// footer
footer {
  padding-top: 100px;
  .links {
    display: flex;
    justify-content: center;
    gap: 0 40px;
    .box {
      min-width: 270px;
    }
    h3 {
      color: #000;
      font-family: Quattrocento;
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin-bottom: 21px;
    }
    ol {
      padding: 0;
      margin: 0;
      list-style-type: none;
      display: flex;
      justify-content: space-between;
      max-width: 175px;
      margin-top: 68px;
      a {
        transition: all ease 0.25s;
      }
      a:hover {
        opacity: 0.7;
      }
    }
    ul {
      padding: 0;
      margin: 0;
      list-style-type: none;
      li {
        margin-bottom: 13px;

        img {
          display: block;
        }
        a {
          color: #000;
          font-family: Mulish;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          text-decoration: unset;
          display: inline-flex;
          align-items: center;
          span {
            position: relative;
          }
          span:after {
            content: "";
            position: absolute;
            left: 0;
            height: 1px;
            background-color: #000;
            width: 0;
            bottom: -3px;
            transition: all ease 0.25s;
          }
        }
        a:hover {
          span:after {
            width: 100%;
          }
        }
        .placeforimg {
          width: 30px;
        }
      }
    }
  }
  .down_line {
    border-top: 1px solid #7c7672;
    margin-top: 49px;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 58px;
    p {
      color: #000;
      font-family: Mulish;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 120%; /* 16.8px */
      a {
        color: #000;
        text-decoration: unset;
      }
    }
  }
}
// footer end
